body {
	  font-family: system-ui, sans-serif;
	    margin: 0;
	      padding: 2rem;
	        background: #ffffff;
	}
	 
		/*
		 * Source - https://stackoverflow.com/a/76961890
		 * Posted by mplungjan
		 * Retrieved 2026-03-30, License - CC BY-SA 4.0
		 * */

	.light { background-color: white;}
	.dark { background-color: black;}
	}
h1 {
	  color: red;
  }
